:root {
  --primary-color1: #a6c6dd;
  --primary-color2: #FFFFFF;
  --primary-color3: #000000;
  --flag-height: 220px;
  --flag-width: calc(var(--flag-height) * 36/24);
}
.box-botswana {
  height: 90vh;
  border: 1px solid;
  margin: 20px 50px;
  text-align: center;
  border-radius: 50px;
}
.flag {
  position: relative;
  /* border: 1px solid; */ 
  height: var(--flag-height);
  width: var(--flag-width);
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid;
}
.div1 {
  position: absolute;
  height: calc(var(--flag-height) * 9/24);
  width: var(--flag-width);
  background-color: var(--primary-color1);
  top: 0;
  border-radius: 4px 4px 0 0;
}
.div2 {
  position: absolute;
  height: calc(var(--flag-height) * 1/24);
  width: var(--flag-width);
  background-color: var(--primary-color2);
  top: calc(var(--flag-height) * 9/24)
}
.div3 {
  position: absolute;
  height: calc(var(--flag-height) * 4/24);
  width: var(--flag-width);
  background-color: var(--primary-color3);
  top: calc(var(--flag-height) * 10/24);
}
.div4 {
  position: absolute;
  height: calc(var(--flag-height) * 1/24);
  width: var(--flag-width);
  background-color: var(--primary-color2);
  top: calc(var(--flag-height) * 14/24)
}
.div5 {
  position: absolute;
  height: calc(var(--flag-height) * 9/24);
  width: var(--flag-width);
  background-color: var(--primary-color1);
  top: calc(var(--flag-height) * 15/24);
  border-radius: 0 0 4px 4px;
}
span {
  border: 1px solid;
  display: inline-block;
  height: 15px;
  width: 15px;
}
span.color1 {
  background-color: var(--primary-color1);
}
span.color2 {
  background-color: var(--primary-color2);
}
span.color3 {
  background-color: var(--primary-color3);
}
h1.title {
  font-size: 50px;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 18px;
}
@media (max-width: 320px) {
  :root {
    --flag-height: 50vw;
  }
  span {
    height: 12px;
    width: 12px;
  }
  .box-botswana {
    margin: 15px auto;
    height: 90vh;
  }
  h1.title {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}
@media (min-width: 321px) and (max-width: 420px) {
  :root {
    --flag-height: 50vw;
  }
  .box-botswana {
    margin: 15px auto;
    height: 90vh;
  }
  h1.title {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}
@media (min-width: 421px) and (max-width: 600px) {
  :root {
    --flag-height: 180px;
  }
  .box-botswana {
    margin: 20px 20px;
    height: 90vh;
  }
  h1.title {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  :root {
    --flag-height: 200px;
  }
  .box-botswana {
    margin: 20px 30px;
    height: 90vh;
  }
  h1.title {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
}