:root {
  --primary-color1: #00778B;
  --primary-color2: #ffc72c;
  --primary-color3: #000000;
  --flag-height: 150px;
  --flag-width: calc(var(--flag-height) * 2);
}
.box-bahamas {
  height: 90vh;
  border: 1px solid;
  border-radius: 50px;
  margin: 30px 50px;
  text-align: center;
}
h1.title {
  font-size: 50px;
}
.primary-color1 {
  position: relative;
  background-color: var(--primary-color1);
  height: var(--flag-height);
  width: var(--flag-width);
  margin: 20px auto;
  border: 1px solid;
}
.primary-color2 {
  position: absolute;
  background-color: var(--primary-color2);
  height: calc(var(--flag-height) / 3);
  width: 100%;
  top: calc(var(--flag-height) / 3);
}
.primary-color3 {
  position: absolute;
  height: 0;
  width: 0;
  border-top: calc(var(--flag-height) / 2) solid transparent;
  border-bottom: calc(var(--flag-height) / 2) solid transparent;
  border-left: calc(1/2 * var(--flag-height) * sqrt(3)) solid var(--primary-color3);
}
span {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid;
}
.span-color1 {
  background-color: var(--primary-color1);
}
.span-color2 {
  background-color: var(--primary-color2);
}
.span-color3 {
  background-color: var(--primary-color3);
}
@media (max-width: 320px) {
  :root {
    --flag-height: 30vw;
  }
  .box-bahamas {
    margin: 15px auto;
    height: 80vh;
  }
  h1.title {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}
@media (min-width: 321px) and (max-width: 420px) {
  :root {
    --flag-height: 30vw;
  }
  .box-bahamas {
    margin: 15px auto;
    height: 90vh;
  }
  h1.title {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }
}
@media (min-width: 421px) and (max-width: 600px) {
  :root {
    --flag-height: 25vw;
  }
  .box-bahamas {
    margin: 20px 20px;
    height: 90vh;
  }
  h1.title {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  :root {
    --flag-height: 150px;
  }
  .box-bahamas {
    margin: 20px 30px;
    height: 90vh;
  }
  h1.title {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
}