:root {
  --flag-height: 300px;
}
.box {
  width: calc(var(--flag-height) * 3/2);
}
h1 {
  text-align: center;
}
.backcolor {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: var(--flag-height);
  border: 1px solid black;
  border-radius: 5px;
}
.circle {
  position: absolute;
  top: calc(var(--flag-height) / 5);
  left: calc(var(--flag-height) * 9/20);
  background-color: #bf0125;
  height: calc(var(--flag-height) * 3/5);
  width: calc(var(--flag-height) * 3/5);
  border-radius: 50%;
}
p {
  font-size: 1.5rem;
  text-align: center;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: darkcyan;
}