:root {
  --flag-height: 300px;
  --box-width: calc(var(--flag-height) * 2);
}
.box {
  width: var(--box-width);
}
h1 {
  text-align: center;
}
.green {
  position: relative;
  width: var(--box-width);
  height: var(--flag-height);
  background-color: #008751;
  border: 1px solid black;
  border-radius: 5px;
}
.white {
  position: absolute;
  width: calc(var(--box-width) / 3);
  background-color: #ffffff;
  height: var(--flag-height);
  left: calc(var(--box-width) / 3);
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}