:root {
  --flag-height: 400px;
  --flag-width: calc(var(--flag-height) * 3/2);
  --color-red: #D91023;
  --color-white: #ffffff;
}
.box {
  width: 90vw;
  border: 1px solid;
  border-radius: 50px;
  height: 90vh;
  margin: 30px auto;
}
h1 {
  text-align: center;
}
.red {
  position: relative;
  background-color: var(--color-red);
  width: var(--flag-width);
  height: var(--flag-height);
  border: 1px solid;
  border-radius: 5px;
  margin: 20px auto;
}
.white {
  position: absolute;
  left: calc(var(--flag-width) / 3);
  background-color: var(--color-white);
  width: calc(var(--flag-width) / 3);
  height: var(--flag-height);
}
h2, p {
  text-align: center;
}
span {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid;
}
.color1 {
  background-color: var(--color-red);
}
.color2 {
  background-color: var(--color-white);
}
/* Media Queries */
/* Mobile S 320px */
@media (max-width: 320px) {
  :root {
    --flag-height: 30vw;
  }
  h1.title {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  span {
    height: 10px;
    width: 10px;
  }
}
/* Mobile M 375px Mobile L 425px */
@media (min-width: 321px) and (max-width: 420px) {
  :root {
    --flag-height: 150px;
  }
  h1.title {
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
  span {
    height: 14px;
    width: 14px;
  }
}
/* Table 768px */
@media (min-width: 421px) {
  :root {
    --flag-height: 200px;
  }
  h1.title {
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }
  span {
    height: 14px;
    width: 14px;
  }
}