:root {
  --primary-color1: #008850;
  --primary-color2: #FCD20F;
  --primary-color3: #E90929;
  --flag-height: 220px;
  --flag-width: calc(var(--flag-height) * 15/10);
  --div-height: calc(var(--flag-height) * 1/2);
  --div-width: calc(var(--flag-width) * 6/15);
}
.box-benin {
  height: 90vh;
  border: 1px solid;
  margin: 20px 50px;
  text-align: center;
  border-radius: 50px;
}
.flag {
  position: relative;
  border: 1px solid;
  height: var(--flag-height);
  width: var(--flag-width);
  margin: 0 auto;
  border-radius: 5px;
}
span {
  border: 1px solid;
  display: inline-block;
  height: 15px;
  width: 15px;
}
.div1 {
  position: absolute;
  height: var(--div-height);
  background-color: var(--primary-color2);
  border-radius: 0 4px 0 0;
  top: 0;
  width: calc(var(--flag-width) * 9/15);
  left: calc(var(--flag-width) * 6/15);
}
.div1.bottom {
  border-radius: 0 0 4px 4px;
}
.div2 {
  position: absolute;
  top: calc(var(--flag-height) * 5/10);
  left: calc(var(--flag-width) * 6/15);
  height: var(--div-height);
  background-color: var(--primary-color3);
  width: calc(var(--flag-width) * 9/15);
  border-radius: 0 0 4px 0;
}
.div3 {
  position: absolute;
  width: calc(var(--flag-width) * 6/15);
  background-color: var(--primary-color1);
  height: 100%;
  left: 0;
  border-radius: 4px 0 0 4px;
}
span.color1 {
  background-color: var(--primary-color1);
}
span.color2 {
  background-color: var(--primary-color2);
}
span.color3 {
  background-color: var(--primary-color3);
}
h1.title {
  font-size: 50px;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 18px;
}
@media (max-width: 320px) {
  :root {
    --flag-height: 50vw;
  }
  span {
    height: 12px;
    width: 12px;
  }
  .box-benin {
    margin: 15px auto;
    height: 90vh;
  }
  h1.title {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}
@media (min-width: 321px) and (max-width: 420px) {
  :root {
    --flag-height: 50vw;
  }
  .box-benin {
    margin: 15px auto;
    height: 90vh;
  }
  h1.title {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}
@media (min-width: 421px) and (max-width: 600px) {
  :root {
    --flag-height: 180px;
  }
  .box-benin {
    margin: 20px 20px;
    height: 90vh;
  }
  h1.title {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  :root {
    --flag-height: 200px;
  }
  .box-benin {
    margin: 20px 30px;
    height: 90vh;
  }
  h1.title {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
}