:root {
  --flag-height: 500px;
}
.box {
  width: calc(var(--flag-height) * 8/5);
}
.palau {
  position: relative;
  background-color: #009afe;
  height: var(--flag-height);
  width: calc(var(--flag-height) * 8/5);
}
h1 {
  text-align: center;
  margin: 0;
}
.palau div {
  position: absolute;
  top: calc(var(--flag-height) / 5);
  left: calc(var(--flag-height) * 2/5);
  background-color: #ffff00;
  width: calc(var(--flag-height) * 3/5);
  height: calc(var(--flag-height) * 3/5);
  border-radius: 50%;
}
p {
  font-size: 1.5rem;
  text-align: center;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: darkcyan;
}