:root {
  --flag-height: 300px;
  --flag-width: calc(var(--flag-height) * 3/2);
  --color-bottom: #fed501;
  --color-top: #015bbb;
}
.box {
  border: 1px solid;
  border-radius: 50px;
  margin: 40px 50px;;
}
h1 {
  text-align: center;
}
.tophalf {
  margin: 20px auto;
  width: var(--flag-width);
  background-color: var(--color-bottom);
  height: var(--flag-height);
}
.tophalf div {
  width: var(--flag-width);
  height: calc(var(--flag-height) / 2);
  background-color: var(--color-top);
}
p {
  font-size: 1.5rem;
  text-align: center;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: darkcyan;
}
.container-flag03 {
  display: flex;
}
.placeholder {
  width: 25%;
}
.color-palette {
  width: 50%;
}
.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid;
}
.color-box.color-1 {
  background-color: var(--color-top);
}
.color-box.color-2 {
  background-color: var(--color-bottom);
}

/* Media Queries */

@media (max-width: 320px) {
  :root {
    --flag-height: 10vh;
  }
  h1.title {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 15px;
  }
  p {
    font-size: 10px;
  }
  .color-1, .color-2 {
    width: 8px;
    height: 8px;
  }
}
@media (min-width: 321px) and (max-width: 420px) {
  :root {
    --flag-height: 100px;
  }
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  p {
    font-size: 20px;
  }
  .color-1, .color-2 {
    width: 15px;
    height: 15px;
  }
  .color-palette {
    width: 50%;
  }
}
@media (min-width: 421px) and (max-width: 600px) {
  :root {
    --flag-height: 200px;
  }
}