:root {
  --primary-color1: #CF0921;
  --primary-color2: #FCD20F;
  --primary-color3: #006B3D;
  --primary-color4: #000000;
  --flag-height: 220px;
  --flag-width: calc(var(--flag-height) * 9/6);
  --div-height: calc(var(--flag-height) * 2/6);
  --star-height: calc(var(--flag-height) * 2.16/6);
}
.box-ghana {
  height: 90vh;
  border: 1px solid;
  margin: 20px 50px;
  text-align: center;
  border-radius: 50px;
}
.flag {
  position: relative;
  /* border: 1px solid; */ 
  height: var(--flag-height);
  width: var(--flag-width);
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid;
}
.div1 {
  position: absolute;
  top: 0;
  background-color: var(--primary-color1);
  height: var(--div-height);
  width: 100%;
  border-radius: 4px 4px 0 0;
}
.div2 {
  position: absolute;
  top: calc(var(--flag-height) * 1/3);
  background-color: var(--primary-color2);
  height: var(--div-height);
  width: 100%;

}
.div3 {
  position: absolute;
  top: calc(var(--flag-height) * 2/3);
  background-color: var(--primary-color3);
  height: var(--div-height);
  border-radius: 0 0 4px 4px;
  width: 100%;
}
.border {
  position: absolute;
  top: var(--div-height);
  height: var(--div-height);
  aspect-ratio: 1/1;
  left: calc(var(--flag-width) * 3.5/9);
}
#star {
  height: var(--star-height);
  aspect-ratio: 1/1;
  clip-path: polygon(
    50% 0,
    79% 90%,
    2% 35%,
    98% 35%,
    21% 90%);
  background-color: black;
  top: var(--div-height);
  left: ;
  border: 1px solid;
}
span {
  border: 1px solid;
  display: inline-block;
  height: 15px;
  width: 15px;
}
span.color1 {
  background-color: var(--primary-color1);
}
span.color2 {
  background-color: var(--primary-color2);
}
span.color3 {
  background-color: var(--primary-color3);
}
span.color4 {
  background-color: var(--primary-color4);
}
h1.title {
  font-size: 50px;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 18px;
}
@media (max-width: 320px) {
  :root {
    --flag-height: 50vw;
  }
  span {
    height: 12px;
    width: 12px;
  }
  .box-ghana {
    margin: 15px auto;
    height: 90vh;
  }
  h1.title {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}
@media (min-width: 321px) and (max-width: 420px) {
  :root {
    --flag-height: 50vw;
  }
  .box-ghana {
    margin: 15px auto;
    height: 90vh;
  }
  h1.title {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}
@media (min-width: 421px) and (max-width: 600px) {
  :root {
    --flag-height: 180px;
  }
  .box-ghana {
    margin: 20px 20px;
    height: 90vh;
  }
  h1.title {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  :root {
    --flag-height: 200px;
  }
  .box-ghana {
    margin: 20px 30px;
    height: 90vh;
  }
  h1.title {
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
}